@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

*{ margin: 0;
    padding: 0;
    box-sizing: border-box;

   }
   .home-main{
    background-color: rgb(255, 162, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;

   }
   .contenedor-boton{
    display: flex;
    justify-content: space-around;

    
   }
   .botones-home{
   height: 100px;

    
   }
   .botones-home img{
    height: 150px;
   }
 .titulodegaleria{
    text-align: center;
    font-size: x-large;
    color: rgb(70, 54, 78);
    font-family: "Playwrite CU", cursive;
 }
.celular{
   height: 30px;
   color: black;
}
.button-wasapp img{ 
   display: inline-block;
   width: 300px;
   
}
h2{ 
   text-align: center;
   font-size: 100px;
   color: brown;
}
.botonescontacto{
   display: flex;
   justify-content: space-around;
   
}
.botonface{display: flex;
   justify-content: center;
}
.yo{
   text-align: center;
   color: blue;
}
.descripcion{
   text-align:center;
   font-size: xx-large;
   color: coral;
}
.formulario{
   display: flex;
   justify-content: end;
   font-size: 100px;
   color: darkmagenta;
}
.formulario input{
  height: 100px;
   width: 500px; 
}
textarea{
   height: 100px;
   width: 500px;
   margin-top: 36px;
}
